<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21352069935-6lfda40678gatpeitb19saa876t6m91g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21352069935-6lfda40678gatpeitb19saa876t6m91g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21352069935-juiq8t8g2o9kinem7d5ecpna1e12f8sc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdH5pdySeiE9bXmTarro8Dp2PP7JrZk9A</string>
	<key>GCM_SENDER_ID</key>
	<string>21352069935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SoftwareDevelopmentProject03</string>
	<key>PROJECT_ID</key>
	<string>appdevelopmentproject03</string>
	<key>STORAGE_BUCKET</key>
	<string>appdevelopmentproject03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21352069935:ios:ae28b34044a572fd90bfda</string>
</dict>
</plist>